body {
    background: cornsilk;
}

/*
header {
    
}
*/

img {
    max-width:100%;
    height:auto;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
}

.strong {
    font-weight: strong;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    background-color: burlywood;
}

nav li {
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: light;
    text-transform: uppercase;
    
    
}

h3, h4 {
    
    color: brown;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

p, li {
    
    color: chocolate;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: medium;
}

footer p{
    font-size: 1rem;
    color: brown;
}

.project {
    
    
    
    font-family: 'Josefin Sans', sans-serif;
}

