


.icon {
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
}

.title {
    font-size: 2rem;
    letter-spacing: .3rem;
    line-height: 1rem;
}

.tagline {
    font-size: 1.5rem;
}

nav li {
 padding: auto;
 font-size: 1rem;
 }

 
 .secheader {
     font-size: 2rem;
     letter-spacing: .3rem;
     margin-top: 3rem;
     margin-left: 5rem;
     text-align: left;
 }

.project {
     display: inline-block;
     line-height: auto;
     padding: 4rem;
 }

 .description {
     width: 50%;
     text-align: center;
     display: inline-block;
     margin: auto;
     vertical-align: middle;

 }

 span {
     display: float;
 }

 .pic {
     width: 50%;
     height: auto;
     margin: auto;
     align-content: right;
     float: right;
 }

 

 img {
     width: auto;
 }

 h2 {
     font-size: 1.5rem;
 }

 h3, h4 {
     font-size: 2rem;
 }

 p, li {
     font-size: 1.5rem;
     display: block;
     padding: 1rem;
 }

 .bioblock {
     align-content: center;
 }

 .about {
     width: 50%;
     display: flex;
     padding: auto;
     margin: auto;
 }

 .profilepic {
    display: flex;
    width: 30%;
    padding: auto;
}

.contact {
    text-align: center;
    line-height: 2rem;
}