.grid {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    grid-template-rows: repeat(6, 1fr);
}


.icon {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-image: url(../images/renny\ icon.jpg);
    border-radius: 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .3rem;
    line-height: 1rem;
}

.tagline {
    text-align: center;
}

nav {
    text-align: center;
    align-content: center;
}

nav li {
 display: inline-block;
 padding: auto;
 font-size: 1rem;
 }

 
 .secheader {
     text-transform: uppercase;
     font-size: 2rem;
     letter-spacing: .3rem;
     margin-top: 2rem;
     margin-left: 5rem;
 }

.project {
     display: inline-block;
     line-height: auto;
 }

 .description {
     width: 50%;
     text-align: center;
     display: inline-block;
     margin: auto;
     vertical-align: middle;

 }

 span {
     display: float;
 }

 .pic {
     width: 50%;
     height: fit-content;
     margin: auto;
     align-content: right;
     float: right;
 }

 img {
     height: auto;
     width: auto;
 }

 h2 {
     font-size: 1.5rem;
 }

 h3 {
     font-size: 3rem;
 }

 h4 {
     font-size: 2rem;
 }

 p, li {
     font-size: 1rem;
     display: block;
     padding: 1rem;
 }