body {
    background: cornsilk;
}

header {
    align-content: center;
}

.icon {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    background-image: url(./images/renny\ icon.jpg);
    border-radius: 50%;
}

.center {
    text-align: center;
}
.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8rem;
}

.strong {
    font-weight: strong;
}

h2 {
    font-size: 5rem;
}

nav {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    background-color: burlywood;
}

h3, h4 {
    font-size: 4rem;
    color: brown;
}

p, ul {
    font-size: 3rem;
    color: chocolate;
}

footer p{
    font-size: 1rem;
    color: brown;
}

.project {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

