body {
    background: cornsilk;
}

header {
    align-content: center;
}

.icon {
    height: 400px;
    width: 400px;
    background-image: url(./images/renny\ icon.jpg);
    border-radius: 0.25rem;
}

.center {
    text-align: center;
}
.title {
    font-family: sans-serif;
    font-size: 8rem;
}

h2 {
    font-size: 5rem;
}

nav {
    font-size: 3rem;
}

h4 {
    font-size: 4rem;
    color: brown;
}

p {
    font-size: 3rem;
    color: chocolate
}